.flex-templates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* add a padding to not be overlapped by SideBar (64px large) + 30px padding*/
  padding-left: 94px;
  padding-right: 30px;
}

.flex-templates .flex-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
}

.flex-templates h1 {
  font-size: 2rem;
  margin-bottom: 50px;
  margin-top: 0;
}

/* .btn-certificate {
  margin-top: 80vh;
} */
/* 
@media (max-width: 1440px) {
  .flex-templates {
    width: 155vh;
    height: auto;
    margin-left: 0vh;
    margin-top: 20vh;
  }
}
@media (max-width: 1024px) {
  .flex-templates {
    width: 145vh;
    height: auto;
    margin-left: 0vh;
    margin-top: 15%;
  }
}

@media (max-width: 768px) {
  .flex-templates {
    width: 150vh;
    height: auto;
    margin-left: 5%;
    margin-top: 45%;
  }
}

@media (max-width: 375px) {
  .flex-templates {
    width: 150vh;
    height: auto;
    margin-left: 2%;
    margin-top: 45%;
  }
}

@media (max-width: 320px) {
  .flex-templates {
    width: 150vh;
    height: auto;
    margin-left: 5%;
    margin-top: 45%;
  }
} */
