.flex-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* add a padding to not be overlapped by SideBar (64px large) + 30px padding*/
  padding-left: 94px;
  padding-right: 30px;
  background-color: #3f3d56;
}

.particles {
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
}
