.flex-splashscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #efa72d;
}
.particles {
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
}
img {
  border-radius: 4px;
  box-shadow: 4px 4px 4px gray;
}
.flex-splashscreen img {
  margin-top: 5px;
  height: auto;
  margin: 70px;
  max-width: 85vw;
}

@media (min-width: 1300px) {
  .flex-splashscreen img {
    max-width: 1150px;
  }
}

.flex-splashscreen h1 {
  font-size: 2rem;
  margin: 1px;
  color: #efa72d;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}
.flex-splashscreen h2 {
  font-size: 1.5rem;
  margin: 1px;
  color: #efa72d;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}
.instruction_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
}

button:active,
button:hover,
button:focus {
  background-color: #efa72d;
  border: 4px solid #efa72d;
  color: white;
}

button {
  outline: none;
  background-color: whitesmoke;
  border: 4px solid #efa72d;
  color: #efa72d;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
}
