.flex_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 95px;
  padding: 95px;
}

ol.flex_list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 70px;
  font-size: 1.5rem;
  background: lightyellow;
  opacity: 0.7;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #242430;
}

.flex_container span {
  font-weight: bold;
}

.flex_container h1 {
  font-size: 2rem;
  margin: 10px;
  margin-top: 50px;
  color: #efa72d;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.flex_container li {
  padding: 10px;
}
.flex_container li:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.flex_container i {
  margin: 5px;
}

.particles {
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
}
