/*****************
**** Button for all components
******************/
.button {
  background-color: #4caf50; /* Green */
  border: 2px solid #4caf50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 14px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
}

.select-table-btn {
  background-color: #ff8e53;
  color: white;
  border: 2px solid #ff8e53;
}

.select-back-btn {
  background-color: #db3d44;
  color: white;
  border: 2px solid #db3d44;
}

.button:active,
.button:hover {
  outline: none;
  background-color: white;
  border: 2px solid #ff8e53;
  color: #ff8e53;
}

.button:focus {
  outline: none;
  background-color: white;
  border: 2px solid #4caf50;
  color: #4caf50;
}

.delete-table-btn {
  background-color: red;
  border: red 1px solid;
}

/* .delete-table-btn:active,
.button:hover {
} */
