.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 14px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
}

.select-table-btn {
  background-color: #ff8e53;
  color: white;
  border: 2px solid lightsalmon;
}

button:active {
  outline: none;
  border: none;
  background-color: #ce5e23;
}

button:focus {
  outline: 0;
}

.select-back-btn {
  background-color: #db3d44;
  color: white;
  border: 2px solid #db3d44;
}
