/*****************
**** Button for all components
******************/
.button {
  background-color: #4caf50; /* Green */
  border: 2px solid #4caf50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 14px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
}

.select-table-btn {
  background-color: #ff8e53;
  color: white;
  border: 2px solid #ff8e53;
}

.select-back-btn {
  background-color: #db3d44;
  color: white;
  border: 2px solid #db3d44;
}

.button:active,
.button:hover {
  outline: none;
  background-color: white;
  border: 2px solid #ff8e53;
  color: #ff8e53;
}

.button:focus {
  outline: none;
  background-color: white;
  border: 2px solid #4caf50;
  color: #4caf50;
}
.table {
  margin-left: 10vh;
  margin-right: 60vh;
  margin-top: 4vh;
}
.title {
  margin-left: 40vh;
  margin-right: 40vh;
  margin-top: 5vh;
}
@media (max-width: 1440px) {
  .table {
    width: 80vh;
    height: auto;
    margin-left: 15vh;
    margin-top: 0vh;
  }
  .title {
    margin-top: 1vh;
  }
}
@media (max-width: 1024px) {
  .table {
    width: 70vh;
    height: auto;
    margin-left: 25vh;
    margin-top: 1%;
  }
}

@media (max-width: 768px) {
  .table {
    width: 55vh;
    height: 50vh;
    margin-left: 32vh;
  }
}

@media (max-width: 375px) {
  .table {
    width: 20vh;
    height: 40vh;
    margin-left: 50vh;
  }
  input[type='text'],
  textarea {
    width: 35%;
  }
}

@media (max-width: 320px) {
  .table {
    width: 19vh;
    height: 40vh;
    margin-left: 50vh;
  }
}
