.footer {
  display: flex;
  justify-content: center;
  color: orange;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__link:link {
  color: black;
}
.footer__link:visited {
  color: purple;
}
/* @media (max-width: 1024px) {
  .footer {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .footer {
    margin-bottom: 0;
  }
}

@media (max-width: 375px) {
  .footer {
    margin-bottom: 0;
  }
}

@media (max-width: 320px) {
  .footer {
    margin-bottom: 0;
  }
} */
