.footer {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer__link:link {
  color: whitesmoke;
}
.footer__link:visited {
  color: whitesmoke;
  text-decoration: none;
}
