.flex-students {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* add a padding to not be overlapped by SideBar (64px large) + 30px padding*/
  padding-left: 94px;
  padding-right: 30px;
  /* background-image: linear-gradient(
    to right bottom,
    #ffffff,
    #f9f9fa,
    #f4f3f4,
    #efedee,
    #eae7e8,
    #e7e3e4,
    #e3e0e1,
    #e0dcdd,
    #dedadb,
    #dbd8d9,
    #d9d7d7,
    #d6d5d5
  ); */
  background-color: #3f3d56;
}
