.footer {
  position: relative;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  color: yellow;
  padding: 30px;
}
.footer-link:link {
  color: black;
}
.footer-link:visited {
  color: purple;
}
